/*
Name: Boxed Layout: Full Width Footer
Description: With Theme Settings > Layout > Layout Bound set to Boxed, use this snippet to make your footer full width. No adjustment of the below values is required. */

body.responsive #page-wrapper {
  max-width: none;
  padding-top: 0;
}

#masthead, 
#main-slider, 
#main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1080px;
}

#colophon {
  margin-bottom: 0;
}