.alignfull,
.alignwide {
	margin-bottom: 1.6em;
}

@media (min-width: 750px) {

	.alignfull {
		max-width: 1000%;
		margin-right: ~"calc(50% - 50vw)";
		margin-left: ~"calc(50% - 50vw)";
		width: auto;
	}

	.alignwide {
		max-width: 1000%;
		margin-right: ~"calc(25% - 25vw)";
		margin-left: ~"calc(25% - 25vw)";
		width: auto;
	}
}
