/* =Sliders
----------------------------------------------- */

/* Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Necessary Styles */

.flexslider {
	margin: 0;
	padding: 0;
	zoom: 1;
	position: relative;

	.slides {
		list-style:none;
		zoom: 1;
		.clearfix();

		> img {
			width: 100%;
			height: auto;
			display: block;
			.box-shadow(0 2px 2px rgba(0,0,0,0.15));
		}

		p img {
			width: auto;
			display: inline-block;
		}

		.flex-caption {
			.box-sizing(border-box);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			text-decoration: none;
			background: rgba(0,0,0,0.5);
			color: #FFF;
			text-align: center;

			h3 {
				color: inherit;
				margin: 0;
				line-height: 1.25em;
				font-size: 15px;
			}
		}

	}

	.slides > li {
		margin-left: 0;
		display: none;
		-webkit-backface-visibility: hidden;

		background-size: cover;
		background-position: center center;

		/* Stuff specific to metaslider */

		.content {
			img {
				max-width: 100%;
				height: auto !important;
			}
		}
	}

	.flex-control-nav {
		list-style:none;
		position: absolute;
		bottom: 15px;
		right: 0px;
		text-align: right;
		padding: 0 30px;

		li {
			margin:0;
			padding:0;
			display: inline-block;
			text-indent: -99999px;
			text-align: left;
			width: 14px;
			height: 14px;
			margin-right: 2px;
		}

		li a{
			display: block;
			width: 14px;
			height: 14px;
			cursor:pointer;
			background: url(images/sprites/slide-indicator-inactive.png);

			&.flex-active {
				background: url(images/sprites/slide-indicator-active.png);
			}
		}
	}

	.flex-direction-nav {
		list-style:none;

		li {
			margin:0;
			padding:0;

			a {
				display: block;
				position: absolute;
				top: 50%;
				text-indent: -99999px;
				width: 32px;
				height: 85px;
				margin-top: -52px;

				opacity: 0;

				.transition(0.2s, opacity, ease);
			}

			a.flex-prev{
				left: 0;
				background: url(images/sprites/gallery-prev.png);
			}

			a.flex-next{
				right: 0;
				background: url(images/sprites/gallery-next.png);
			}
		}
	}

	&:hover {
		.flex-direction-nav li a {
			opacity: 0.9;
		}
	}
}

.vantage-slide {
	.slide-text {
		h2 {
			font-size: 36px;
			font-weight: 200;
			width: 100%;
			height: auto;
			line-height: 1.25em;
			color: #ffffff;
			text-shadow: 0 1px 1px rgba(0,0,0,0.7);
			margin-bottom: 40px;

			strong {
				font-weight: 500;
			}
		}

		h3 {
			font-size: 22px;
			font-weight: 200;
			width: 100%;
			height: auto;
			line-height: 1.25em;
			color: #DDDDDD;
			text-shadow: 0 1px 1px rgba(0,0,0,0.7);
			margin-bottom: 40px;
		}
	}

	.button.simple {
		display: inline-block;
		text-decoration: none;
		font-size: 500;
		color: #FFFFFF;
		text-shadow: 0 1px 1px rgba(0,0,0,0.7);
		font-size: 16px;
		background: url(images/sprites/slide-button-next.png) top right no-repeat;
		padding: 17px 48px 17px 0;
	}

	.button.retro {
		display: inline-block;
		text-decoration: none;
		font-size: 300;
		color: #FFFFFF;
		text-shadow: 0 2px 2px rgba(0,0,0,0.8);
		font-size: 18px;
		text-transform: uppercase;
		padding: 8px 24px;
		border: 3px solid #FFFFFF;
		line-height: 1em;
	}



	&.slide-button-1 {
		.slide-image {
			position: absolute;
			bottom: 0;
			right: 60px;
		}

		.slide-text {
			width: 50%;
			position: absolute;
			top: 70px;
			left: 60px;
			text-align: left;
		}
	}

	&.slide-button-2 {
		.slide-text {
			width: 100%;
			position: absolute;
			bottom: 40px;
			left: 0;
			text-align: center;
			padding: 0 30px;
			.box-sizing(border-box);

			h2 {
				margin-bottom: 0;
			}
		}

		.slide-button {
			position: absolute;
			top: 50%;
			height: 42px;
			margin-top: -21px;
			left: 0;
			text-align: center;
			width: 100%;
		}
	}

	&.slide-with-icons {
		.slide-text {
			width: 100%;
			position: absolute;
			top: 40px;
			left: 0;
			text-align: center;
			padding: 0 30px;
			.box-sizing(border-box);

			h2 {
				margin-bottom: 0;
			}
		}

		.slide-icons {
			width: 100%;
			position: absolute;
			margin-top: -26px;
			top: 50%;
			left: 0;
			text-align: center;
			padding: 0 30px;
			.box-sizing(border-box);

			img {
				display: inline-block;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}