/*!
Version: dev
*/
.block-editor-page .wp-block {
  max-width: 855px;
}
.block-editor-page .wp-block[data-align="wide"] {
  max-width: 1140px;
}
.block-editor-page .wp-block[data-align="full"] {
  max-width: none;
}
