/*
Name: Boxed Layout: Adjust Footer Padding
Description: With Appearance > Theme Settings > Layout > Layout Bound set to Boxed, adjust the padding applied to the footer widget area. Adjust the px value below as required. */

#colophon {
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}