/*
Name: Boxed Layout - Remove Bottom Margin
Description: Theme Settings > Layout > Layout Bound > Boxed introduces a container bottom margin, use this snippet to remove it. */

#colophon {
  margin-bottom: 0;
}