/*
Name: Set Drop Down Menu Opacity
Description: Set opacity for the mainmenu drop down menu background and hover. In each property the first three values represent the color, the last represents the opacity. */

.main-navigation ul ul { 
	background: rgba(52, 53, 56, 0.8);
} 
.main-navigation ul ul li:hover > a { 
	background: rgba(0, 188, 255, 0.8);  
}