/*
Name: Vantage Header Align
Description: Align the header slightly differently
*/

.main-navigation ul {
	font-size: 0;
	text-align: right;
}

.main-navigation ul li {
	display: inline-block;
	float: none;
	font-size: 13px;
}

/* This is optional */
.main-navigation ul ul li {
	text-align: left;
}