/*
Name: Hide the Sidebar on Mobile
Description: Hide the sidebar below 680px resolution. Adjusting the max width value below will change the screen size at which the slider is hidden. */

@media (max-width: 680px) {
	#primary {
		width: 100%;
	}
	#secondary {
		display: none;
	}
}