.mobile-nav-frame {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #222222;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  z-index: 999999;
}
.mobile-nav-frame .title {
  padding: 14px 12px;
  margin-bottom: 25px;
  border-bottom: 1px solid #1c1c1c;
  background: #161616;
}
.mobile-nav-frame .title h3 {
  margin: 0px 50px;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  height: 1.25em;
  font: 200 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.mobile-nav-frame .title .close,
.mobile-nav-frame .title .back {
  position: absolute;
  padding: 7px;
  font-size: 19px;
  font-weight: 200;
  margin-top: -1px;
  color: white;
  text-decoration: none;
  top: 11px;
}
.mobile-nav-frame .title .close {
  right: 12px;
}
.mobile-nav-frame .title .back {
  left: 12px;
}
.mobile-nav-frame form.search {
  margin: 20px 12px;
  position: relative;
  background-color: transparent;
}
.mobile-nav-frame form.search input[type=search] {
  display: block;
  width: 100%;
  font-size: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #E0E0E0;
  border: none;
}
.mobile-nav-frame form.search input[type=submit] {
  display: none;
}
.mobile-nav-frame .slides {
  display: block;
}
.mobile-nav-frame ul {
  margin: 0px 12px;
  background: #212121;
  border: 1px solid #111;
  padding: 4px 10px;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.075);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2), 0px -1px 0px rgba(255, 255, 255, 0.075);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.mobile-nav-frame ul li {
  display: block;
  padding: 15px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.mobile-nav-frame ul li a.link {
  display: block;
  margin-right: 30px;
  text-decoration: none;
  color: #F3F3F3;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}
.mobile-nav-frame ul li:first-child {
  border-top: none;
}
.mobile-nav-frame ul li:last-child {
  border-bottom: none;
}
.mobile-nav-frame .next {
  float: right;
  text-decoration: none;
  color: #F3F3F3;
  font-size: 17px;
  font-weight: 300;
}
.admin-bar .mobile-nav-frame .title {
  position: relative;
}
a.mobilenav {
  display: none;
}
